/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('BG.png');
  background-size: 400px;
  background-repeat: repeat;
  border-top-style: hidden;
  color: #ededed;
}

.wrapper-main {
  width:1000px;
  padding:100px 0;
  margin: 0 auto;
  border: 4px solid black;
}

/*-------------------Header CSS-------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 10%;
  padding-bottom: 10px;
    background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/*-------------------Top Menu CSS-------------------*/
.navbar a{
  font-size: 16px;
  color: #ededed;
  text-decoration: none;
  font-weight: 300;
  margin-left: 30px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: #C2AD7E;
}

/* Home CSS */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1{
  font-size: 70px;
  font-weight: 600;
}

.home-content h3{
  font-size: 32px;
  font-weight: 400;
  color: #C2AD7E;
}

.home-content p{
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 330px;
  height: 50px;
  margin-top: 10px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #C2AD7E;
  border: 2px solid #C2AD7E;
  border-radius: 8px;
  font-size: 19px;
  color: #465E5A;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #C2AD7E;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgba(165, 147, 111, 0.3);
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 100px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #C2AD7E;
  border-radius: 50%;
  font-size: 30px;
  color: #ededed;
  text-decoration: none;
  transition: 0.5s;
}

.home-sci a:hover {
  color: #C2AD7E;
}

.heading {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.animation-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 300px;
  height: 300px;
}
/*-------------------About Me CSS--------------------*/
.about-me{
  height: 100vh;
  width: 100%;
  padding: 170px 0;
}

.pic{
  height: auto;
  width:  430px;

}
.about{
  width: 1130px;
  height: auto;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.text{
  width: 540px;
}
.text h2{
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #C2AD7E;
}
.text p{
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  margin: 20px 0 40px;

}
.data{
  margin-top: 30px;
}
.contact{
  font-size: 18px;
  background: transparent;
  border: 2px solid #C2AD7E;
  color: #fff;
  text-decoration: none;

  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.contact:hover{
  background: #C2AD7E;
  border: 2px solid #C2AD7E;
}

/*-------------------Services CSS-------------------*/
.services {
  height: 100vh;
  width: 100%;
    padding-top: 130px;
    padding-right: 130px;
    padding-left: 130px;
}

.services .boxes .box .topic {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;	
}

.services .boxes .box p {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;	
}

.services .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .boxes .box{
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 10px;
  padding: 30px 10px;
  /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12); */
  border: 1px solid #C2AD7E;;
  cursor: default;
  transition: all 0.4s ease;
}


.services .boxes .box:hover{
  background: #C2AD7E;
  color: #fff;
}
.services .boxes .box .icon{
  height: 50px;
  width: 50px;

  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}
.boxes .box:hover .icon{
  color: #ededed;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #0E2431;
  transition: all 0.4s ease;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #fff;
}

.topic p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}


/*-------------------Portfolio CSS-------------------*/

.portfolio-header h1 {
  text-align: center;
  margin-top: 130px;
}
/* Masonry image gallery styling */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery .images {
  gap: 15px;
  max-width: 85%;
  margin: 40px 0;
  columns: 5 310px;
  list-style: none;
}
.video-list .videos {
  gap: 15px;
  max-width: 85%;
  margin: 30px 20px;
  list-style: none;
}
.gallery .images .img {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;
  border-radius: 4px;
}

.gallery .images img {
  width: 100%;
  transition: transform 0.2s ease;
}
.gallery .images .img:hover img {
  transform: scale(1.1);
}


/* Image lightbox styling */
.lightbox {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  visibility: hidden;
  background: rgba(0,0,0,0.65);
}
.lightbox.show {
  visibility: visible;
}
.lightbox .wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 20px;
  max-width: 850px;
  background: #fff;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 0.1s ease;
}
.lightbox.show .wrapper {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.wrapper :where(header, .details) {
  display: flex;
  align-items: center;
}
.wrapper header {
  justify-content: space-between;
}
header .details i {
  font-size: 1.7rem;
}
header .details span {
  font-size: 1.2rem;
  margin-left: 10px;
}
header .buttons i {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  background: #6C757D;
  font-size: 1.25rem;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  transition: 0.2s ease;
}
header .buttons i:hover {
  background: #5f666d;
}
.wrapper .preview-img {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.preview-img .img {
  max-height: 65vh;
}
.preview-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Responsive media query code */
@media screen and (max-width: 688px) {
  .lightbox .wrapper {
    padding: 12px;
    max-width: calc(100% - 26px);
  }
  .wrapper .preview-img {
    margin-top: 15px;
  }
  .gallery .images {
    max-width: 100%;
    padding: 0 13px;
    margin-top: 20px;
  }
}
/*-------------------Footer CSS-------------------*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: #B19571;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px 10px;
}
